.reg-page {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #999;
    width: 100%;
    height: 100vh;
}
  
.reg-box {
    position: relative;
    width: 50%;
    height: 640px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
}

.btn-close {
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 50%;
    position: fixed;
    right: calc(40% - 75px);
    top: 20px;
}

.register-btn {
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(225, 0, 255);
    font-size: medium;
}

div[type="regHeader"],div[type="userHeader"] {
    text-align: center;
    color: rgb(0, 0, 0);
}

input[type="name"] {
    width: 45%;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: thin;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="text"] {
    width: 100%;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: thin;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="checkbox"] {
    position: relative;
    margin-right: 5px;
    top: 2px;
}