.header-container {
  font-family: "Granjon", serif;
  background-color: var(--pucci-color-dark);
  color: var(--pucci-color-light);
  padding: 15px;
}

.nav {
  display: flex;
  justify-content: center;
}

.pucci-logo {
  font-family: GucciFont, serif;
  color: var(--pucci-color-light);
}

.nav-link {
  color: var(--pucci-color-light);
  font-family: FjallaOne;
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--pucci-color-light);
  transform: translateY(-5px);
}

.nav-link:active {
  color: var(--pucci-color-light);
}

.nav-user-btn-container {
  font-family: OpenSans-Regular, sans-serif;
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 1%;
  right: 1%;
  display: flex;
}

.nav-login-btn,
.nav-register-btn,
.nav-favorites-btn,
.nav-bag-btn,
.nav-search-btn {
  background-color: transparent;
  /* background-color: blue; debugging purposes */
  padding: 10px;
  color: var(--pucci-color-light);

  border: none;
  font-size: 12px;
  transition: 0.4s cubic-bezier(0.5, -1.5, 0.5, 2.5);
}

.nav-login-btn:hover,
.nav-register-btn:hover,
.nav-favorites-btn:hover,
.nav-bag-btn:hover,
.nav-search-btn:hover {
  color: white;
  transform: scale(1.2);
}

.nav-favorites-btn-icon {
  font-size: 15px;
}

.nav-bag-btn-icon {
  margin-right: 4px;
  position: relative;
  bottom: 1px;
}

.nav-search-btn-icon {
  font-size: 20px;
}
