.header-container {
    font-family: 'Granjon', serif;
    background-color: #1b1b1bf2;
    color: #e5dfd9;
    padding: 15px;
}

.nav {
    display: flex;
    justify-content: center;
}

.pucci-logo {
    font-family: GucciFont, serif;
    color: white;
}

.nav-link {
    color: #e5dfd9;
    font-family: FjallaOne;
}
.nav-link:hover {
    color: white;
}
.nav-link:active {
    color: white;
}

.btns {
    width: 7%;
    height:fit-content;
    position: absolute;
    top: 2%;
    right: 2%;
}

.user-btn {
    position: relative;
    display: block;
    width: 100%;
    height: fit-content;
    background-color: #0003;
    border: 4px solid white;
    font-size: medium;
    font-family: monospace;
    color: #e5dfd9;
}

.user-btn:hover { 
    /* These are the colors GUCCI uses for everything - buttons, nav, and footer */
    background-color: #1b1b1b;
    border-color: #1b1b1b;
    color: #e5dfd9;
}
