.header-container {
    font-family: 'Granjon', serif;
    background-color: #1b1b1bf2;
    color: #e5dfd9;
    padding: 15px;
}

.nav {
    display: flex;
    justify-content: center;
}

.pucci-logo {
    font-family: GucciFont, serif;
    color: white;
}

.nav-link {
    color: #e5dfd9;
    font-family: FjallaOne;
}
.nav-link:hover {
    color: white;
}
.nav-link:active {
    color: white;
}