.bag-container {
  position: relative;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1rem repeat(10, 1fr) 1rem;
  justify-content: center;
}

.bag-product {
  grid-column-start: 4 span 4;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* display: flex;
  flex-direction: row; */
  gap: 1fr;
}

.bag-product-title {
  grid-column-start: 1;
}
.bag-product-price {
  grid-column-start: -1;
}

.bag-title {
  grid-column: 6 / -6;
}
.bag-subtotal {
  grid-column-start: 8;
  display: flex;
  flex-direction: row-reverse;
  justify-items: end;
  padding: 0 5%;
  font-weight: bolder;
}

.bag-cart {
  grid-column: 5 / -5;
}

.btn {
  grid-column-start: -6;
}
