.login-page {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #999;
    width: 100%;
    height: 100vh;
    font-family: monospace;
}
  
.login-box {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    background-image: url("/./src/assets/images/pink_tutu_dog.webp");
    background-size: cover;
}

.btn-close {
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 50%;
    position: relative;
    left: 48%;
    top: 20px;
}

.login-btn {
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
    /* background-color: rgba(225, 0, 255, 0.427); */
    font-size: medium;
    background-color: transparent;
    border: 5px solid white;
    font-size: medium;
    font-family: monospace;
    color: white;
}
.login-btn::hover {
    color: black;
}

input[type="text"]{
    width: 60%;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: thin;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    left: 18%;
    text-align: center;
}

.text-input-wrapper {
    justify-content: center;
}

input[type="checkbox"] {
    position: relative;
    margin-right: 5px;
    top: 2px;
}

div[type="loginHeader"] {
    text-align: center;
    color: rgb(0, 0, 0);
}