.card {
    margin-bottom: 1rem;
    z-index: 0;
}

.empty-heart-icon {
    z-index: 1;
    font-size: 35px;
    color: black;
    position: relative;
    top: 10%;
    left: 40%;
}

.empty-heart-icon:hover {
    color: red;
}