.product-card-container {
  z-index: 0;
  position: relative;
}

.empty-heart-icon {
  z-index: 1;
  font-size: 35px;
  color: black;
  position: absolute;
  top: 2.5%;
  right: 5%;
}

.empty-heart-icon:hover {
  color: red;
}
