.adidogs-container {
  position: relative;
}

.adidogs-card-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  padding: 20px;
}
